.products-list {
  padding-bottom: 30px;
}
.products-list li:first-child {
  padding-top: 0 !important;
}
.products-list .item {
  float: left;
  width: 100%;
  padding-top: 15px;
}
.products-list .item .inner-item {
  position: relative;
  border: 1px solid transparent;
  overflow: hidden;
}
.products-list .item .inner-item:hover {
  border: 1px solid #eaeaea;
}
.products-list .item .inner-item .item-image {
  float: left;
  width: 31.0344%;
  margin-right: 3.4482%;
  position: relative;
  border-right: 1px solid #eaeaea;
  padding: 30px;
}
.products-list .item .inner-item .item-image .inner {
  display: block;
  overflow: hidden;
  position: relative;
}
.products-list .item .inner-item .item-image .new-item,
.products-list .item .inner-item .item-image .sale-item {
  position: absolute;
  top: -7px;
  z-index: 999;
}
.products-list .item .inner-item .item-image .new-item {
  left: 10px;
}
.products-list .item .inner-item .item-image .sale-item {
  right: 10px;
  left: auto;
}
.products-list .item .inner-item .item-image .product-image {
  display: block;
  position: relative;
}
.products-list .item .inner-item .item-image .product-image img {
  width: 100%;
}
.products-list .item .inner-item .item-image:hover .product-image img {
  opacity: 0.7;
  filter: alpha(opacity=50);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.products-list .item .inner-item .item-image .vt_quickview_handler {
  position: absolute;
  top: 50%;
  right: -100%;
  min-width: 112px;
  text-align: center;
  font-size: 100%;
  background: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  margin-right: -56px;
  margin-top: -20px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.products-list .item .inner-item .item-image .vt_quickview_handler:hover {
  color: #fff;
  background: #7588c3;
}
.products-list .item .inner-item .item-image:hover .vt_quickview_handler {
  right: 50%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.products-list .item .inner-item .product-shop {
  float: left;
  background: #fff;
  width: 65.5174%;
  min-height: 265px;
  padding: 30px 10px 30px 0;
}
.products-list .item .inner-item .product-shop .product-name {
  font-size: 128.57%;
  margin: 5px 0 6px;
}
.products-list .item .inner-item .product-shop .product-name a {
  text-transform: capitalize;
}
.products-list .item .inner-item .product-shop .desc {
  clear: both;
}
.products-list .item .inner-item .product-shop .price-box {
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
}
.products-list .item .inner-item .product-shop .ratings {
  float: right;
  margin-right: 15px;
}
.products-list .item .inner-item .product-shop .wrap-sku {
  float: left;
  width: 100%;
  margin: 0 0 5px;
}
.products-list .item .inner-item .product-shop .wrap-sku label {
  font-weight: normal;
  margin: 0 5px 0 0;
}
.products-list .item .inner-item .product-shop .wrap-pio {
  float: left;
  width: 100%;
}
.products-list .item .inner-item .product-shop .wrap-pio label {
  font-weight: normal;
  margin: 0 5px 0 0;
}
.products-list .item .inner-item .product-shop .wrap-pio span {
  color: #d3b627;
}
.products-list .item .inner-item .product-shop .wrap-btn-prolist {
  margin-top: 30px;
}
.products-list .item .inner-item .product-shop .wrap-btn-prolist .btn-cart,
.products-list .item .inner-item .product-shop .wrap-btn-prolist .out-of-stock {
  color: #fff;
  font-size: 100%;
  line-height: 36px;
  margin-bottom: 10px;
  float: left;
  background: #45464a;
  cursor: pointer;
  text-transform: capitalize;
  padding: 0 18px;
  margin-left: 10px;
  text-align: center;
}
.products-list .item .inner-item .product-shop .wrap-btn-prolist .btn-cart:hover,
.products-list .item .inner-item .product-shop .wrap-btn-prolist .out-of-stock:hover {
  background: ##FE980F;
}
.products-list .item .inner-item .product-shop .item-btn {
  float: left;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  padding-left: 2px;
}
.products-list .item .inner-item .product-shop .item-btn .link-wishlist,
.products-list .item .inner-item .product-shop .item-btn .link-compare,
.products-list .item .inner-item .product-shop .item-btn .vt_quickview_handler {
  width: 36px;
  height: 36px;
  float: left;
  background-color: #a2a2a4;
  position: relative;
  margin-right: 10px;
  font-weight: 400;
}
.products-list .item .inner-item .product-shop .item-btn .vt_quickview_handler {
  text-indent: -9999em;
  margin-right: 0;
}
.products-list .item .inner-item .product-shop .item-btn .vt_quickview_handler:before {
  width: 26px;
  height: 20px;
  float: left;
  position: absolute;
  top: 10px;
  left: 12px;
  content: "\f002";
  font-family: "FontAwesome";
  text-indent: 0;
  color: #fff;
  font-size: 12px;
}
.products-list .item .inner-item .product-shop .item-btn .link-compare:before {
  width: 20px;
  height: 25px;
  float: left;
  position: absolute;
  top: 10px;
  left: 12px;
  content: "\f066";
  font-family: "FontAwesome";
  color: #fff;
  font-size: 12px;
}
.products-list .item .inner-item .product-shop .item-btn .link-wishlist:before {
  width: 26px;
  height: 20px;
  float: left;
  position: absolute;
  top: 10px;
  left: 12px;
  content: "\f08a";
  font-family: "FontAwesome";
  font-weight: bold;
  color: #fff;
  font-size: 12px;
}
.products-list .item .inner-item .product-shop .item-btn a {
  position: relative;
  border: transparent solid 2px;
}
.products-list .item .inner-item .product-shop .item-btn a:hover {
  background: white;
  border: #FE980F solid 2px;
  border-radius:5px;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.products-list .item .inner-item .product-shop .item-btn a:hover:before {
  color: #fff;
}
.products-list .item .inner-item:hover {
  /* border-color: #ffd429; */
}
.product-list .toolbar-bottom {
  margin-bottom: 50px;
  margin-top: 30px;
}
.products-list .item .inner-item{
  padding-right: 18px; 
  padding-left: 17px;
  border-radius: 10px;
  box-shadow: 0px 4px 14px rgb(11 69 132 / 15%);
}
.products-list .regular-price h2{
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.products-list .item .inner-item .active-custom a{
  color: #FE980F;
}